<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Data ważności</th>
            <th>Edycja</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of data">
            <td>{{d.id}}</td>
            <td>{{d.nazwa}}</td>
            <td>{{d.cena | currency:'PLN'}}</td>
            <td>{{d.dataWaznosci | date:"shortDate"}}</td>
            <td><a [routerLink]="d.id + ''">Przejdź do edycji</a></td>
            <td><button (click)="delete(d.id)">Usuń</button></td>
        </tr>
    </tbody>
</table>

<a routerLink="/dodawanie">Przejdź do dodawania</a>